{% extends 'base.html' %}

{% block body %}
    <div class="todos">
        <h1>All Todo</h1>

        {% if object_list %}
            {% for todo in object_list %}
                <ul class="item">
                    <li class="list"> 
                        <a href="{% url 'detail' todo.id %}">{{ todo.title }} </a>
                        {% if todo.completed == True  %}
                            <input type="checkbox" id="{{ todo.id }}" class="my-check" checked>
                        {% else %}
                            <input type="checkbox" id="{{ todo.id }}" class="my-check">
                        {%endif%}
                    </li>
                </ul>
            {% endfor %}
        {% else %}
            <p> No todo record available </p>
        {% endif %}

        <form method="post" id="myForm" action="someURL">
            {% csrf_token %}
        </form>

    </div>    
{% endblock %}