{% extends 'base.html' %}

{% block body %}
    <div class="todos">
        <h1>All Todo</h1>

        {% if object_list %}
            {% for todo in object_list %}
                <a href=>
                    <div class="item">
                        <h5> <a href="{% url 'detail' todo.id %}">{{ todo.title }} </a></h5>
                    </div>
                </a>
            {% endfor %}
        {% else %}
            <p> No todo record available </p>
        {% endif %}

    </div>    
{% endblock %}