{% extends 'base.html' %}

{% block body %}
    <div class="todos">
        <h1>All Todo</h1>

        {% if object_list %}
            {% for todo in object_list %}
                <ul class="item">
                    <li> 
                        <a href="{% url 'detail' todo.id %}">{{ todo.title }} </a>
                        <input type="checkbox" id="{{ todo.id }}">
                    </li>
                </ul>
            {% endfor %}
        {% else %}
            <p> No todo record available </p>
        {% endif %}

    </div>    
{% endblock %}