a {
    text-decoration: none !important;
}

main{
    margin-top: 40px;
}

.nav {
    margin-top: 10px;
}

.item {
    margin-bottom: 20px;
}

.actions {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    width: 20%;
}

.actions a {
    font-weight: bold;
}

.date {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin-bottom: 50px;
}